* {
    margin: 0;
    padding: 0;
    background-color: rgb(48, 48, 48);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.sketchContainer{
    display: flex;
    margin: 2rem 0;
    border: 5px solid rgb(41, 22, 1);
    width: 600px;
    height: 600px;
    
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row{
    flex: 1;
    background-color: aliceblue;
    border: none;
    
}

#popUp{
    align-content: center;
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #04cef1;
    transition: background-color ease 0.3s;
}


#popUp:hover{
    color: white;
    background-color: rgb(10, 157, 202);
}