@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Gochi+Hand&family=Playpen+Sans+Hebrew:wght@100..800&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: rgb(32 34 37);
    color: white;
    font-family: "Comforter Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.container{
    display: flex;
    justify-content:space-evenly;   
    align-items: center;
    margin-top: 0.5rem;
}

.leftSection{
    text-align: center;
    margin-top: 2rem;
}

.leftSection h1{
    font-size: 4rem;
}

.sketchContainer{
    display: flex;
    /* margin: 2rem 0; */
    border: 2px solid rgb(0, 0, 0);
    width: 750px;
    height: 750px;
    
}

.column{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.row{
    flex: 1;
    border: none;
    background-color: white;
    
}

.buttonColor{
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    align-content: center;
    background-color: rgb(248, 248, 248);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #04cef1;
    transition: background-color ease 0.3s;
    margin: 12px;
}


.buttonColor:hover{
    color: white;
    background-color: rgb(10, 157, 202);
}

.instruction {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 1.5rem;
}
.instruction h2{
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}